# my.cnf - Configurações personalizadas para o servidor MySQL

# Opções para o cliente MySQL
[mysql]

# Define o conjunto de caracteres padrão para o cliente. Essencial para Zabbix.
default-character-set = utf8mb4



# Opções para o servidor MySQL (mysqld)
[mysqld]

# Define o conjunto de caracteres padrão para o servidor. Crucial para o Zabbix.
character-set-server = utf8mb4

# Define a regra de agrupamento (collation) padrão 'utf8mb4_bin'.
collation-server = utf8mb4_bin

# Permite a criação de funções em ambientes com log binário. Necessário para Zabbix.
log_bin_trust_function_creators = 1

# Garante que novas conexões de clientes usem 'utf8mb4'. Essencial para comunicação Zabbix-DB.
init-connect = "SET NAMES utf8mb4"

# Armazena cada tabela InnoDB em seu próprio arquivo. Boa prática para otimização.
innodb_file_per_table = 1